<%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br><br>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <br><br>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
    <br>
    <h3>Create new category</h3>
    <%= f.fields_for :categories, @post.categories.build do |categories_fields| %>
        <%= categories_fields.label :name %>
        <%= categories_fields.text_field :name %>
    <% end %>
    <br><br>
    <%= f.submit %>
<% end %>

<%# Create a form at posts#new to create a new post. 
The form should include check boxes for us to select 
categories as well as a text field to create a new category. 
You should do this with a nested form so that our controller stays thin. 
Also, typing in a Category name that already exists should not create a new category. 
Instead, if we type in a category that already exists, 
we should select it from the database and associate 
the post we've created with the existing category. %>